:root {
  --mainColor: #19c8fa;
  --trasnparntColor: rgb(15 116 143 / 60%);
  --darkBackground: #1f2021;
  --border: #a2a2a2;
  --sectionPadding: 100px;
  --overlay: rgba(0, 0, 0, 60%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*spachial-Header*/
.spachial {
  text-align: center;
}
.spachial h2 {
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.spachial h2::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: black 2px solid;
  position: absolute;
  background-color: #fff;
  top: 61px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.spachial h2::before {
  content: "";
  width: 150px;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.spachial p {
  width: 550px;
  color: #777;
  max-width: 100%;
  line-height: 2;
  font-weight: 400;
  margin: 0 auto 100px;
}

/*container*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
/*End container*/

/*header*/
header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 5;
  margin-bottom: 500px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 50px;
  color: #fff;
}

header .container::before {
  content: "";
  position: absolute;
  width: calc(100% - 25px);
  background-color: var(--border);
  height: 1px;
  left: 15px;
  bottom: 16px;
}

header img {
  height: 45px;
}

header nav {
  flex: 1;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  text-align: center;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
  display: block;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  padding: 40px 10px;
  position: relative;
}
header ul li a:hover,
nav ul .active {
  color: var(--mainColor);
  border-bottom: 2px solid var(--mainColor);
}

.container .search {
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 2px solid var(--border);
}

.container .search i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
}

header .icon {
  display: none;
}

header .icon span {
  width: 100%;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 768px) {
  header .container {
    margin-top: 20px;
  }
  header nav .icon {
    display: flex;
    flex-wrap: wrap;
    width: 25px;
    align-items: center;
  }
  header img {
    height: 35px;
  }

  header nav ul {
    display: none;
  }

  .container .search i {
    font-size: 20px;
    right: 5px;
  }

  .container .search {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 15px;
    border-left: 2px solid var(--border);
  }

  header .container::before {
    bottom: -10px;
  }

  header .icon:hover + ul {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    position: absolute;
    top: 120%;
    width: 100%;
    left: 0;
    background-color: #1f2021a6;
    z-index: 10;
    padding-left: 5px;
    li {
      width: 100%;
      a {
        padding: 10px;
        margin-bottom: 5px;
        font-size: 1rem;
      }
    }
  }
}

/*End header*/
/*landing*/

.landing {
  min-height: 100vh;
  background-image: url(../images/landing-01.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  padding: 30px;
  background-color: var(--trasnparntColor);
  color: #fff;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.landing .text .content {
  max-width: 520px;
}

.landing .text .content h2 {
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: normal;
}

.landing .text .content p {
  line-height: 1.8;
}

.landing .overlay .arrow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
}

.landing .overlay .arrow i {
  color: #fff;
  margin: 50px;
}

.landing .overlay .switch {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

.landing .overlay .switch span {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--border);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px;
}

.landing .overlay .switch span:nth-child(2) {
  border-color: var(--mainColor);
  background-color: var(--mainColor);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

@media (max-width: 767px) {
  /* Adjust landing page layout for mobile */
  .landing {
    background-position: 70%;
  }
  .landing .text {
    width: 100%;
    justify-content: center;
    padding: 30px;
  }
  .landing .text .content h2 {
    line-height: 1.3;
    font-size: 35px;
  }
  .landing .text .content p {
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .landing .overlay .arrow {
    display: none;
  }
  .landing .overlay .switch span {
    padding: 10px;
  }
  .landing .overlay .switch {
    margin-top: -25px;
  }
}

/*End landing*/
/*services*/

.services {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.services .content .cardes {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
}

.services .cardes i {
  margin-bottom: 20px;
}
.services .cardes .text {
  margin-top: 0;
}

.services .cardes .text h3 {
  margin-bottom: 30px;
  color: var(--mainColor);
}

.services .cardes p {
  color: #777;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .services .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px 60px;
  }

  .services .cardes .text h3 {
    margin-bottom: 30px;
    color: var(--mainColor);
    font-size: 25px;
  }

  .services .cardes p {
    color: #777;
    line-height: 2;
    font-size: 15px;
  }

  .services .cardes i {
    margin-right: 30px;
  }

  .services .content .cardes {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
}

/*design*/

.design {
  width: 100%;
  height: 100vh;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
}

.design .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  overflow-y: hidden;
}

.design img {
  position: absolute;
  bottom: -20%;
  height: 500px;
  flex: 1;
  left: 100px;
}

.design .text {
  color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 0;
  width: 50%;
  background-color: var(--trasnparntColor);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  justify-content: flex-start;
  padding: 40px;
}

.design .text .content {
  width: auto;
}

.design .text .content h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.design .text .content ul {
  padding: 10px;
}

.design .text .content ul li {
  margin-bottom: 25px;
}

.design .content ul li i {
  margin-right: 15px;
}

@media (max-width: 768px) {
  /* Adjust design page layout for mobile */
  .design {
    background-position: 40%;
    height: 80vh;
  }
  .design img {
    display: none;
  }
  .design .text {
    width: 100%;
    padding-left: 20px;
    justify-content: center;
  }

  .design .text .content h2 {
    font-size: 2rem;
  }
  .design .text .content ul li {
    font-size: 1.3rem;
  }
}

/*protfolio*/

.Portfolio {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.Portfolio .content ul {
  display: flex;
  padding: 0;
  justify-content: center;
}

.Portfolio .content ul li {
  list-style: none;
  padding: 5px 20px;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.Portfolio .content ul li:first-child {
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Portfolio .photos {
  margin-top: 80px;
  width: 100%;
  display: flex;
  gap: 5px 0;
  flex-wrap: wrap;
}

.Portfolio .photos .img-card {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .Portfolio .photos .img-card {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 998px) {
  .Portfolio .photos .img-card {
    flex-basis: 50%;
  }
}

.Portfolio .photos .img-card img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.Portfolio .photos .img-card .caption {
  padding: 10px 20px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.Portfolio .img-card .caption p {
  color: var(--mainColor);
}

.Portfolio .img-card .caption h4 {
  font-weight: 400;
  margin-bottom: 10px;
}

.Portfolio .photos .img-card:hover .caption {
  bottom: -10px;
  display: block;
}

.Portfolio .photos .img-card:hover img {
  transform: scale(1.1) rotate(5deg);
  -webkit-transform: scale(1.1) rotate(5deg);
  -moz-transform: scale(1.1) rotate(5deg);
  -ms-transform: scale(1.1) rotate(5deg);
  -o-transform: scale(1.1) rotate(5deg);
}

.Portfolio .more {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 15px 20px;
    background-color: var(--mainColor);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
}
/*super-video*/

.super {
  width: 100%;
  height: 100vh;
  position: relative;
}

.super video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.super .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  overflow-y: hidden;
}

.super .overlay .contet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 40px;
  background-color: var(--trasnparntColor);
  width: 100%;
}

.super .overlay .text {
  margin-bottom: 80px;
}

.super .overlay .text h3 {
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.super .overlay .text p {
  margin-bottom: 30px;
}

.super .overlay .text button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  padding: 10px;
  border: 0;
  background-color: #000;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (max-width: 768px) {
  .super {
    height: 50vh;
  }
  .design {
    height: 60vh;
  }
}

.about {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}

.about .container .image {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

@media (max-width: 768px) {
  .about {
    height: 70vh;
  }
  .about .container .image {
    top: 80%;
  }
  .about .container .image img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .about {
    height: 80vh;
  }
  .about .container .image {
    top: 85%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    height: 60vh;
  }
  .about .container .image {
    top: 75%;
  }
  .about .container .image img {
    width: 450px;
  }
}
/*stats*/

.stats {
  background-image: url(../images/stats.png);
  background-size: cover;
  width: 100%;
}

.stats .overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  padding: 100px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats .overlay .content {
  background-color: var(--trasnparntColor);
  padding: 50px 0;
  width: 100%;
}

.stats .overlay .content .text {
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.stats .overlay .content .text .cardes {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

@media (max-width: 768px) {
  .stats .overlay {
    padding: 40px 10px;
  }
  .stats .overlay .content .text .cardes {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .stats .overlay .content .text .cardes {
    flex-basis: 50%;
  }
}

.stats .text .cardes i {
  padding: 10px;
  border-radius: 50%;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 10px;
}

.stats .text .cardes h3 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
}

/*ourskill*/
.ourskill {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.ourskill .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ourskill .container .testimonial,
.ourskill .container .skill {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  position: relative;
}

@media (max-width: 768px) {
  .ourskill .container .testimonial,
  .ourskill .container .skill {
    width: 100%;
  }
}

.ourskill .container .head {
  text-align: center;
}

.ourskill .container .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.ourskill .container .head p {
  margin-bottom: 30px;
  color: #777;
  line-height: 2;
}

.ourskill .testimonial .box {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.ourskill .testimonial .box::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 145px;
  width: 70%;
  height: 0.5px;
  background-color: #777;
}

.ourskill .testimonial .box::after {
  content: "John Doe, CEO";
  color: #777;
  position: absolute;
  top: 85px;
  right: 5px;
}

.testimonial .box img {
  border-radius: 50%;
  margin-right: 50px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial .box p {
  flex: 1;
  line-height: 1.8;
}

.ourskill .testimonial .icon {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  margin-top: 30px;
}

.ourskill .testimonial .icon span {
  padding: 8px;
  border-radius: 50%;
  border: 1px solid var(--border);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 8px;
}

.ourskill .testimonial .icon span:nth-child(2) {
  border-color: var(--mainColor);
  background-color: var(--mainColor);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

@media (max-width: 991px) {
  .ourskill .skill {
    margin-top: 60px;
  }
  .testimonial .box {
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .testimonial .box img {
    margin: 20px auto;
  }

  .testimonial .box p {
    width: 100%;
    text-align: center;
  }
  .ourskill .testimonial .icon span {
    padding: 8px;
  }

  .ourskill .testimonial .box::before {
    top: 115%;
    left: 0;
    width: 100%;
  }

  .ourskill .testimonial .box::after {
    top: 95%;
    left: 55%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .ourskill .testimonial .icon {
    margin-top: 85px;
  }
}

.ourskill .skill .lang {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.ourskill .skill .lang .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.ourskill .skill .lang .box h5 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.ourskill .skill .lang .box .fill {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.ourskill .skill .lang .box:nth-of-type(1) .fill {
  background-image: linear-gradient(
    to right,
    var(--mainColor) 80%,
    #eee 80% 100%
  );
  position: relative;
}

.lang .box:nth-of-type(1) .fill::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 78%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px #000 solid;
}

.lang .box:nth-of-type(1) .fill::after {
  content: "80%";
  position: absolute;
  top: -46px;
  left: 76%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ourskill .skill .lang .box:nth-of-type(2) .fill {
  background-image: linear-gradient(
    to right,
    var(--mainColor) 90%,
    #eee 90% 100%
  );
  position: relative;
}

.lang .box:nth-of-type(2) .fill::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 88%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px #000 solid;
}

.lang .box:nth-of-type(2) .fill::after {
  content: "90%";
  position: absolute;
  top: -46px;
  left: 86%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ourskill .skill .lang .box:nth-of-type(3) .fill {
  background-image: linear-gradient(
    to right,
    var(--mainColor) 85%,
    #eee 85%,
    #eee 100%
  );
  position: relative;
}

.lang .box:nth-of-type(3) .fill::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 83%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px #000 solid;
}

.lang .box:nth-of-type(3) .fill::after {
  content: "85%";
  position: absolute;
  top: -46px;
  left: 81%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ourskill .skill .lang .box:nth-of-type(4) .fill {
  background-image: linear-gradient(
    to right,
    var(--mainColor) 92%,
    #eee 92% 100%
  );
  position: relative;
}

.lang .box:nth-of-type(4) .fill::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 90%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px #000 solid;
}

.lang .box:nth-of-type(4) .fill::after {
  content: "92%";
  position: absolute;
  top: -46px;
  left: 88%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* qout Section */
.quot {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
  z-index: -2;
}

.quot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
  z-index: -1;
}

.qout .container {
  position: relative;
}

.quot .container q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/*Pricing*/
.pricing {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.pricing .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.pricing .content .box {
  background-color: #fcfcfc;
  align-items: center;
}

.pricing .content .box .peice {
  padding: 40px 20px;
  border-top: 1px solid var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
  text-align: center;
}

.pricing .content .box .peice h5 {
  font-weight: normal;
  text-transform: uppercase;
}

.pricing .content .box .peice p {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  position: relative;
  height: fit-content;
}

.pricing .content .box .peice p::after {
  content: " /Mo";
  position: relative;
  font-weight: bold;
  right: 0%;
  font-size: 20px;
}

.pricing .content .box .peice p::before {
  content: "$ ";
  position: relative;
  font-weight: 500;
  top: -40px;
  left: 0%;
  font-size: 25px;
}

.pricing .content .box .text ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.pricing .content .box .text ul li {
  padding: 20px;
  position: relative;
}

.pricing .content .box .text ul li:not(.text ul li:last-of-type)::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 120px;
  height: 1.5px;
  background-color: var(--mainColor);
}

.pricing .content .box .bt {
  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--mainColor);
}

.pricing .content .box .bt button {
  margin: 30px auto;
  display: block;
  width: 100px;
  height: 50px;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #551a8b;
  background-color: #fcfcfc;
}

.pricing .request {
  text-align: center;
}

.pricing .request p {
  font-size: 22px;
  margin-bottom: 20px;
}

.pricing .request button {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  outline-color: var(--mainColor);
  box-shadow: 0px 0px transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*sub*/
.subscribe {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  background-image: url(../images/subscribe.jpg);
  position: relative;
  width: 100%;
}

.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 50%);
}

.subscribe .container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
  .subscribe .container p {
    margin: 30px auto;
  }
}

.subscribe .container form {
  display: flex;
  position: relative;
  background-color: transparent;
  width: 500px;
  max-width: 100%;
}

.subscribe .container form i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.subscribe form input[type="email"] {
  background-color: transparent;
  border: 2px solid #fff;
  border-right: none;
  caret-color: var(--mainColor);
  padding: 20px 20px 20px 60px;
  width: calc(100% - 130px);
}

.subscribe form input[type="email"]::placeholder {
  color: #fff;
  font-size: 20px;
  flex: 1;
}

.subscribe form input[type="submit"] {
  color: #fff;
  width: 130px;
  background-color: var(--mainColor);
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-left: none;
}

.subscribe form input:focus {
  outline: none;
}

.subscribe .container p {
  line-height: 1.5;
  margin-left: 50px;
  font-size: 20px;
}

/* contact */

.contact {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}

.contact .container .content {
  display: flex;
  justify-content: space-between;
}

.contact .container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.contact .container form {
  font-size: 18px;
  flex-basis: 70%;
}

.contact .container form input:not(input[type="submit"]),
.container form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  display: block;
}

.contact .container form textarea {
  height: 200px;
}

.contact .container form input[type="submit"] {
  color: #fff;
  background-color: var(--mainColor);
  border: none;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
}

.contact .container .text {
  flex-basis: 25%;
}

.contact .container .text h4 {
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.contact .container .text p {
  margin-bottom: 40px;
  color: #777;
  line-height: 1.6;
}
.contact .container .text p br {
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .contact .container .content {
    flex-direction: column-reverse;
  }
  .contact .content form {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  .contact .content .text {
    text-align: center;
  }
  .contact .container .text h4 {
    margin-bottom: 20px;
  }
}

/*footer*/

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../images/subscribe.jpg);
  position: relative;
  background-size: cover;
}

footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 65%);
}

footer .container {
  position: relative;
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .container img {
  margin-bottom: 35px;
}

footer .container h5 {
  margin-bottom: 40px;
  position: relative;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
}

footer .container h5::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -6px;
  width: 110%;
  height: 0.5px;
  background-color: #fff;
}

footer .container .sochial {
  margin-bottom: 30px;
}

footer .container .sochial i {
  margin: 15px;
}

footer .container p {
  font-size: 20px;
}

footer .container p span {
  color: var(--mainColor);
}
